<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ServlettiIsa</servlet-name>
        <servlet-class>Paketit.Mallit.ServlettiIsa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kirjautuminen</servlet-name>
        <servlet-class>Paketit.Servletit.Kirjautuminen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Muutokset</servlet-name>
        <servlet-class>Paketit.Servletit.MuutoksetLisaykset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuutoksetLisaykset</servlet-name>
        <servlet-class>Paketit.Servletit.MuutoksetLisaykset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Haut</servlet-name>
        <servlet-class>Paketit.Mallit.Haut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TietokantaYhteys</servlet-name>
        <servlet-class>Paketit.Mallit.TietokantaYhteys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Etusivu</servlet-name>
        <servlet-class>Paketit.Servletit.Etusivu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuutoksetPoisto</servlet-name>
        <servlet-class>Paketit.Servletit.MuutoksetPoisto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuutoksetMuokkaa</servlet-name>
        <servlet-class>Paketit.Servletit.MuutoksetMuokkaa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Etusivu_jalkeen</servlet-name>
        <servlet-class>Paketit.Servletit.Etusivu_jalkeen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UlosKirjautuminen</servlet-name>
        <servlet-class>Paketit.Servletit.UlosKirjautuminen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ohjeet</servlet-name>
        <servlet-class>Paketit.Servletit.Ohjeet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KayttajienMuokkaus</servlet-name>
        <servlet-class>KayttajienMuokkaus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisukkeetLisays</servlet-name>
        <servlet-class>Paketit.Servletit.LisukkeetLisays</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisukkeetPoisto</servlet-name>
        <servlet-class>Paketit.Servletit.LisukkeetPoisto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LisukkeetMuokkaus</servlet-name>
        <servlet-class>Paketit.Servletit.LisukkeetMuokkaus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rekisteroityminen</servlet-name>
        <servlet-class>Paketit.Servletit.Rekisteroityminen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kayttajien_hallinta</servlet-name>
        <servlet-class>Paketit.Servletit.Kayttajien_hallinta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServlettiIsa</servlet-name>
        <url-pattern>/ServlettiIsa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kirjautuminen</servlet-name>
        <url-pattern>/Kirjautuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Muutokset</servlet-name>
        <url-pattern>/Muutokset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Haut</servlet-name>
        <url-pattern>/Haut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TietokantaYhteys</servlet-name>
        <url-pattern>/TietokantaYhteys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Etusivu</servlet-name>
        <url-pattern>/Etusivu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Muutokset</servlet-name>
        <url-pattern>/MuutoksetLisaykset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuutoksetPoisto</servlet-name>
        <url-pattern>/MuutoksetPoisto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuutoksetMuokkaa</servlet-name>
        <url-pattern>/MuutoksetMuokkaa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Etusivu_jalkeen</servlet-name>
        <url-pattern>/Etusivu_jalkeen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UlosKirjautuminen</servlet-name>
        <url-pattern>/UlosKirjautuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ohjeet</servlet-name>
        <url-pattern>/Ohjeet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisukkeetLisays</servlet-name>
        <url-pattern>/LisukkeetLisays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisukkeetPoisto</servlet-name>
        <url-pattern>/LisukkeetPoisto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LisukkeetMuokkaus</servlet-name>
        <url-pattern>/LisukkeetMuokkaus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rekisteroityminen</servlet-name>
        <url-pattern>/Rekisteroityminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kayttajien_hallinta</servlet-name>
        <url-pattern>/Kayttajien_hallinta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Kirjautuminen.jsp</welcome-file>
    </welcome-file-list>
</web-app>
